{% extends 'base.html' %} 

{% load bootstrap_tags %} 

{% block page_title %}Login Page{% endblock %} 

{% block page_heading %}Home{% endblock %} 

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <img width="100%" src="static/images/house.jpg" alt="Football League">
    </div>
    <div class="col">
        <h2 class="contact-heading">We specialise in producing professional theatrical events around Scotland and the north of England.</h2>
        <p class="contact-content">The company is a coming together of old and new ideas and the passion to tell our own stories.</p>
    </div>
    <div class="w-100"></div>
    <div class="col">Column</div>
    <div class="col">Column</div>
  </div>
</div>

{% endblock %}