{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row contact">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">

      <!-- Right hand column of bootsttap grid, showing contact details and social media -->

      <h2 class="contact-title">Get in touch</h2>

      <h3 class="contact-heading">Email Us:</h3>
      <p class="contact-content">stilettomurder@gmail.com</p>

      <h3 class="contact-heading">Event Enquiries Please Call:</h3>
      <p class="contact-content">01945 232300</p>

      <h3 class="contact-heading">Social Media:</h3>
        <p>
          <a href="https://facebook.com" target="_blank" class="fa fa-facebook fa-large" style="color:#212529;"></a>
          <a href="https://twitter.com" target="_blank" class="fa fa-twitter fa-large" style="color:#212529;"></a>
          <a href="https://instagram.com" target="_blank" class="fa fa-instagram fa-large" style="color:#212529;"></a>
        </p>
        
      <div class="mobileShow">
            <hr>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
  
    <!-- Left hand column of bootsttap grid, displaying the contact form-->  
      
      <h2 class="contact-content">If you have an enquiry, please contact us using the form below and we will get back to you as soon as we can.</h2>
      
      <!-- Contact form-->
      
      <form onsubmit="return sendMail(this);">
        <div class="form-group">
          <input type="text" name="name" class="form-control" id="fullname" placeholder="Name" required/>
        </div>
        <div class="form-group">
          <input type="text" name="emailaddress" class="form-control" id="emailaddress" placeholder="Email" required>
        </div>
        <div class="form-group">
          <textarea rows="8" name="query" class="form-control" id="query" placeholder="Enter your enquiry here" required></textarea>
        </div>
        <button type="submit" class="btn btn-outline-dark">Send message</button>
      </form>
      
    </div>
    
  </div>
  
</div>

{% endblock %}
