{% extends 'base.html' %} 

{% load bootstrap_tags %} 

{% block page_title %}Login Page{% endblock %} 

{% block page_heading %}Home{% endblock %} 

{% block content %}

  <div class="row">
    <div class="col">
      <h2>Get in touch</h2>
      <p>We promise to answer all enquiries as soon as possible.</p>

      <h2>EMAIL US:</h2>
      <p>enquiries@deadlyacts.co.uk</p>

      <h2>STILETTO MURDER MYSTERIES ENQUIRIES PLEASE CALL:</h2>
      <p>07777 751 782</p>

      <p>SOCIAL MEDIA:</p>
  </div>

  {% endblock %}