{% extends 'base.html' %} {% block content %}

<div class="container">
    <br> {% for photo in photos %}
    <div class="row products">

        <!-- Event Poster -->

        <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4 photo-image">
            <img width="100%" src="{{ MEDIA_URL }}{{ photo.image }}" alt="Stiletto Murder Mysteries">
            <p><b>Posted Date:</b> {{ photo.created_date }}</p>
        </div>

        <!-- Name of the event and truncated description -->

        <div class="col-sm-12 col-md-7 col-lg-8 col-xl-8">
            <h3 class="photo-heading">{{ photo.title }}</h3>
            <p class="photo-description">{{ photo.description }}</p>
        </div>
    </div>
    <hr> {% endfor %}
</div>

{% endblock %}
