/*-------------------------GENERAL STYLING--------*/

.body {
    background-color: #f5f4ed;
}

.form-group {
    padding-right: 7px;
}

.cart-form {
    margin-bottom: 0px;
}


.home {
    position: relative;
}

/*-------------buttons--------*/

.btn {
    margin-left: 10px;
}

.btn-outline-dark {
    margin-left: 0px;
}

/*---------------Hiding and resizing on different screen sizes-------*/

.mobileShow {
    display: none;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .mobileShow {
        display: inline;
    }
}

.mobileHide {
    display: inline;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .mobileHide {
        display: none;
    }
}

.inputHide {
    display: inline;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 3000px) {
    .inputHide {
        display: none;
    }
}

/*---------------Below styling makes footer stick to the foot of the page-------*/

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*-------------------------NAVIGATION BAR--------*/

.navbar-nav {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.25em;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .navbar-nav {
        font-size: 1.3em;
    }
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.fa {
    color: #C7B299;
    font-size: 1.5em;
    transition: transform .2s;
    margin: 0 auto;
    padding-right: 8px;
}

.search-box {
    width: 230px;
}

.alert {
    margin-bottom: 0rem;
}

.badge-warning {
    color: #DCDCDC;
    background-color: #8a0303;
}

/*-------------MURDER MYSTERIES--------*/

.product-name {
    font-family: 'Italianno', cursive;
    color: #8a0303;
    font-size: 4em;
}

.product-description {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.25em;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .product-description {
        font-size: 1.1em;
    }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 600px) {
    .product-image {
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (max-device-width: 1100px) and (min-device-width: 601px){
    .product-image {
        padding-left: 10px;
        padding-right: 10px;
}}

/*-------------Murder Mysteries Modals--------*/

.modal-title {
    font-family: 'Italianno', cursive;
    color: #8a0303;
    font-size: 2.75em;
    line-height: 1.2em;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .modal-title {
        padding-top: 25px;
    }
}

.modal-description {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.1em;
}

.modal-header {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 0px;
    border-bottom: none;
}

/*-------------Padding at top of Murder Mysteries page on different screen sizes--------*/

.products {
    padding-top: 30px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .products {
        padding-top: 5px;
    }
}

/*-------------BANNER--------*/

.banner-icons {
    position: relative;
}

.banner-social-media {
    position: absolute;
    bottom: 10px;
    right: 50px;
}

.banner-contact {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.banner {
    background-color: #343A40;
}

.contact-navbar {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1em;
    float: right;
    color: #C7B299;
    padding-top: 5px;
    padding-bottom: 10px;
}


/*-------------------------CONTACT PAGE------*/

/*-------------------------Padding at top and bottom of page on different screen sizes-------*/

.contact {
    padding-top: 50px;
    padding-bottom: 15px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .contact {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.contact-title {
    font-family: 'Italianno', cursive;
    color: #8a0303;
    font-size: 4em;
    padding-bottom: 20px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .contact-title {
        font-size: 3em;
        padding-bottom: 10px;
    }
}

.contact-heading {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.5em;
    color: #8a0303;
    padding-bottom: 10px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .contact-heading {
        font-size: 1.2em;
    }
}

.contact-content {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.3em;
    padding-bottom: 30px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .contact-content {
        font-size: 1em;
        padding-bottom: 10px;
        padding-bottom: 10px;
    }
}

.fa:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    color: black;
    text-decoration: none;
}

/*-----------------CART-------*/

/*--------Padding at top and bottom of page on different screen sizes-------*/

.cart {
    padding-top: 50px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .cart {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.cart-details {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.3em;
    padding-bottom: 10px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .cart-details {
        font-size: 1em;
    }
}

.cart-remove {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.3em;
    padding-bottom: 0px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .cart-remove {
        font-size: 1em;
    }
}

.cart-title {
    font-family: 'Italianno', cursive;
    color: #8a0303;
    font-size: 4em;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .cart-title {
        padding-top: 15px;
        font-size: 3em;
    }
}

/*----------LOG IN PAGE-------*/

.login-title {
    font-family: 'Italianno', cursive;
    color: #8a0303;
    font-size: 3em;
    padding-bottom: 20px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
    .login-title {
        font-size: 2em;
    }
}

.login-forgot {
    font-family: 'Italianno', cursive;
    color: #8a0303;
    font-size: 2.2em;
    padding-bottom: 10px;
    padding-top: 30px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
    .login-forgot {
        font-size: 2em;
    }
}

.login-form {
    padding-right: 155px;
    padding-left: 155px;
    padding-top: 50px;
    padding-bottom: 100px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 599px) {
    .login-form {
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
    }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1000px) {
    .login-form {
        padding-bottom: 150px;
        padding-top: 150px;
    }
}

@media only screen and (min-device-width: 1001px) and (max-device-width: 1500px) {
    .login-form {
        padding-bottom: 275px;
        padding-top: 275px;
    }
}

/*------------REVIEWS-------*/

.review-box {
    padding-top: 50px;
    padding-bottom: 15px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .review-box {
        padding-top: 55px;
        padding-bottom: 15px;
    }
}

.post-review {
    position: absolute;
    top: 20px;
    right: 50px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .post-review {
        top: 15px;
        left: 8px;
        padding-bottom: 40px;
    }
}

.review-title {
    font-family: 'Italianno', cursive;
    color: #8a0303;
    font-size: 3em;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .review-title {
        font-size: 2.5em;
        padding-bottom: 0px;
        padding-top: 10px;
    }
}

.review-content {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.3em;
    padding-bottom: 1px;
    padding-top: 10px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .review-content {
        font-size: 1em;
        padding-bottom: 0px;
        padding-top: 0px;
    }
}

.review-by {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1em;
    padding-bottom: 1px;
    padding-top: 10px;
}

.stars {
    color: #DAA520;
    font-size: 1.3em;
}

/*---------------BLOG-------*/

.blog {
    padding-top: 50px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .blog {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.blog-title {
    font-family: 'Italianno', cursive;
    color: #8a0303;
    font-size: 3em;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .blog-title {
        font-size: 2.5em;
        padding-top: 35px;
    }
}

.blog-content {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.3em;
    padding-bottom: 1px;
    padding-top: 10px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .blog-content {
        font-size: 1em;
    }
}

.blog-info {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1em;
    padding-bottom: 1px;
    padding-top: 10px;
}

/*---------------Checkout-------*/

.checkout {
    padding-top: 50px;
    padding-bottom: 15px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .checkout {
        padding-top: 55px;
    }
}

.checkout-payment {
    color: #8a0303;
    font-family: 'Italianno', cursive;
    font-size: 3em;
}

.checkout-details {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.5em;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
    .checkout-details {
        font-size: 1em;
    }
}

.checkout-form {
    margin-bottom: 0px;
}
