.body {
    background-color: #f5f4ed;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

/*-------------------------Navigation Bar--------*/

.navbar-nav {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.5em;
  line-height: 15px;
 }

 .navbar-dark .navbar-nav .nav-link {
  color: rgb(194, 194, 163);
 }

 .nav-item {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
 }


.bet_time {
    position:absolute;
    bottom:0;
    right:0;
    padding-right: 50px;
    padding-bottom: 50px;
}

.social-media {
    text-align: center;
    background-color: black;
    font-size: 1.5em;
}

.fa {
    color: white;
    font-size: 1.5em;
    padding-right: 20px;
    transition: transform .2s;
    margin: 0 auto;
}

.product-name {
    font-family: 'Italianno', cursive;
    font-size: 4em;
}

.product-description {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.25em;
}

.box {
    position: relative;
}

.content {
    position: absolute;
    bottom: 10px;
    right: 50px;
}

.content-1 {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.banner {
    background-color: #413D3C;
}

.form-group {
    padding-right: 7px;
}

/*-------------------------contact page-------*/

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}

.contact-navbar {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1em;
  float: right;
  color: white;
  padding-top: 5px;
  padding-bottom: 10px;
}

.contact-title {
    font-family: 'Italianno', cursive;
    font-size: 4em;
    padding-bottom: 30px;
}

.contact-heading {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.5em; 
  color: #8B4513
}

.contact-content {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.3em;
  padding-bottom: 30px;
}

.fa:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  color:black;
  text-decoration: none;
}