{% extends 'base.html' %} 

{% load bootstrap_tags %} 

{% block content %}

<div class="container">
    <div class="login-form"></p>
        <p>Already have an account?&nbsp&nbsp&nbsp&nbsp<a href="{% url 'login' %}" class="btn btn-outline-dark">Sign In</a></p>
        <hr>
        
        <form method="POST">
            {% csrf_token %} {{ registration_form | as_bootstrap }}
            <button type="submit" class="btn btn-outline-dark">Register</button>
        </form>
        <br>
    </div>
    {% endblock %}
</div>