{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block content %}
<div class="container">
    <div class="cart">
        {% if cart_items %} {% for item in cart_items %}
        <div>
            <div>
                <h3 class="cart-title">Details of your purchase:</h3>

                <div class="cart-details"><b>Event:</b></div>
                <div class="cart-details">{{ item.product.name }}</div>
                <br>
                <div class="cart-details"><b>Event Details:</b></div>
                <div class="cart-details">{{ item.product.description }}</div>
                <br>
                <div class="cart-details"><b>Price per Ticket:</b></div>
                <div class="cart-details">£{{ item.product.price }}</div>
                <br>
                <div class="cart-details"><b>Number of Tickets:</b></div>
                <div class="cart-details">{{ item.quantity }}</div>
                <br>
                <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputAmount" class="sr-only">New Qty</label>
                        <div class="input-group">
                            <input name="quantity" type="number" min="0" max="999" class="form-control">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-dark"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend Quantity</button>
                </form>
                <hr>
            </div>
        </div>
        {% endfor %} {% else %}
        <div class="container">
            <h1 class="cart-title">Your basket is empty</h1>
            <p class="cart-details">Visit the Murder Mysteries page to view our upcoming events</p>
        </div>
        {% endif %}
    </div>
</div>

{% if cart_items %}
<div class="container">
    <div class="cart-details"><b>Total Cost of your Order:</b></div>
    <div class="cart-details">£{{ total }}</div>
    <br>
    <a href="{% url 'checkout' %}" class="btn btn-outline-dark" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
    <br>
</div><br> {% else %} {% endif %} {% endblock %}
