{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block content %}
<div class="container">
    <div class="cart">
        {% if cart_items %} {% for item in cart_items %}
        <h3 class="contact-title">{{ item.product.name }}</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Price per guest</th>
                    <th scope="col">Number of tickets</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">{{ item.product.price }}</td>
                    <td>
                        <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputAmount" class="sr-only">New Qty</label>
                                <div class="input-group">
                                    <div class="input-group-addon">{{item.quantity}}</div>
                                    <input name="quantity" type="number" min="0" max="999" class="form-control">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>






        <div>
            <div>
                <h3 class="contact-title">{{ item.product.name }}</h3>
                <p class="contact-content">The price for each guest is £{{ item.product.price }}</p>
                <p>

                    <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputAmount" class="sr-only">New Qty</label>
                            <div class="input-group">
                                <div class="input-group-addon">Number of Tickets =</div>
                                <div class="input-group-addon">{{item.quantity}}</div>
                                <input name="quantity" type="number" min="0" max="999" class="form-control">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
                    </form>
                </p>
            </div>
        </div>
        {% endfor %} {% else %}
        <div class="container">
            <h1 class="contact-title">Your basket is empty</h1>
            <p class="contact-content">Visit the Murder Mysteries page to view our upcoming events</p>
        </div>
        {% endif %}
    </div>
</div>

{% if cart_items %}
<div class="container">
    <p>Total</p>
    <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
    <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
</div>
{% else %} {% endif %} {% endblock %}
