{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Murder Mystery</title>
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>
    <script type="text/javascript">
        (function(){
            emailjs.init("user_UbfQMZPiQGURDwMtv5SCI");
        })();
    </script>
    
    
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5336900852.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet"> {% block head_js %} {% endblock head_js %}
</head>

<body class="body">
    <div class="row banner">
        <div class="col-6">
            <div>
                <img width="100%" src="{% static 'images/banner-desktop-new.png' %}" alt="Stiletto Murder Mysteries">
            </div>
        </div>
        <div class="col-6 box">
            <div class="content-1">
            <div>
                <i class="fas fa-phone contact-navbar">&nbsp;&nbsp;01945 232300</i>
            </div>
            <div>
                <i class="far fa-question-circle contact-navbar">&nbsp;&nbsp;murder-mysteries@Gmail.com</i>
            </div>
            </div>
            <div class="content">
              <form class="form-inline" action="{% url 'search' %}" method="get">
                 <div class="social media">
                    <a href="https://facebook.com" target="_blank" class="fa fa-facebook"></a>
                    <a href="https://twitter.com" target="_blank" class="fa fa-twitter fa-large"></a>
                    <a href="https://instagram.com" target="_blank" class="fa fa-instagram fa-large"></a>
                </div>
                <div class="form-group">
                  <input type="text" name="q">
                </div>
                  <button type="submit" class="btn btn-light btn-sm">Search</button>
             </form>
          </div>
        </div>
        </div>
    </div>

    <!-- Fixed masthead -->

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black">
        <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}">Murder Mysteries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registration' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_cart' %}">
                        <i class="fa fa-shipping-cart"></i>Cart
                            {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                            {% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    {% if messages %}
    <div class="alert alert-success">
        <div class="messages">
            {% for message in messages %} {{ message }} {% endfor %}
        </div>
    </div>
    {% endif %}
    <div>
        {% block content %} <img width="100%" src="{% static 'images/haunted-house-desktop.jpeg' %}" alt="Football League"> {% endblock %}
    </div>
    <footer>
        <div>
            <div class="social-media">BOOKINGS & ENQUIRIES</div>
            <div class="social-media">To make a general enquiry, enquire about an event, show or book a children’s party. Please contact us.</div>
        </div>
        <div>
            <img width="100%" src="{% static 'images/footer-desktop.png' %}" alt="Stiletto Murder Mysteries">
        </div>
        <div class="social-media">
            <container>
            <a href="https://facebook.com" target="_blank" class="fa fa-facebook"></a>
            <a href="https://twitter.com" target="_blank" class="fa fa-twitter fa-large"></a>
            <a href="https://instagram.com" target="_blank" class="fa fa-instagram fa-large"></a>
            </container>
        </div>
    </footer>
</body>

</html>
