{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stiletto Murder Mysteries</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="icon" href="{% static 'images/icon.png' %}">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
            emailjs.init("user_UbfQMZPiQGURDwMtv5SCI");
        })();
    </script>


    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5336900852.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet"> {% block head_js %} {% endblock head_js %}
</head>

<body class="body">
    <div class="page">
        <div class="row banner no-gutters">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div>
                    <img width="100%" src="{% static 'images/banner-desktop-blood.png' %}" alt="Stiletto Murder Mysteries" class="mobileHide">
                </div>
                <div>
                    <img width="100%" src="{% static 'images/banner-mobile-blood.png' %}" alt="Stiletto Murder Mysteries" class="mobileShow">
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 banner-icons mobileHide">
                <div class="banner-contact">
                    <div>
                        <i class="fas fa-phone contact-navbar">&nbsp;&nbsp;01945 232300</i>
                    </div>
                    <div>
                        <i class="far fa-question-circle contact-navbar">&nbsp;&nbsp;stilettomurder@gmail.com</i>
                    </div>
                </div>
                <div class="banner-social-media">
                    <a href="https://facebook.com" target="_blank" class="fa fa-facebook"></a>
                    <a href="https://twitter.com" target="_blank" class="fa fa-twitter fa-large"></a>
                    <a href="https://instagram.com" target="_blank" class="fa fa-instagram fa-large"></a>
                </div>
            </div>
        </div>

        <!-- Fixed masthead -->

        <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
            <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}">Murder Mysteries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'get_posts' %}">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'get_reviews' %}">Reviews</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
                    <input class="form-control search-box mr-sm-2" placeholder="Search" aria-label="Search" type="text" name="q">
                    <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
                </form>
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registration' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_cart' %}">
                        Cart
                        {% if product_count > 0 %}
                        <label class="badge badge-warning">{{ product_count }}</label>
                        {% endif %}
                    </a>
                    </li>
                </ul>
            </div>
        </nav>
        {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %} {{ message }} {% endfor %}
        </div>
        {% endif %}
        <div class="home">
            {% block content %}

            <img width="100%" src="{% static 'images/home-page-desktop.png' %}" alt="Stiletto" class="mobileHide">
            <img width="100%" src="{% static 'images/home-page-mobile.png' %}" alt="Stiletto" class="mobileShow">


            {% endblock %}
    </div>
    </div>
    <footer class="footer">
        <div class="mobileHide">
            <img width="100%" src="{% static 'images/footer-desktop.png' %}" alt="Stiletto Murder Mysteries">
        </div>
        <div class="mobileShow">
            <img width="100%" src="{% static 'images/footer-mobile.png' %}" alt="Stiletto Murder Mysteries">
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
